---
import CustomTitle from "../layouts/CustomTitle.astro";
import MainLayouts from "../layouts/MainLayouts.astro";
---

<MainLayouts title="About">
  <h1>About</h1>
  <CustomTitle title="This is a custom title" /></MainLayouts
>

<style is:global>
  h1 {
    color: red;
  }
</style>
